#page-teacher-list {
	height: 100vh;
	width: 100vw;
}

#search-teachers {
	margin-top: 3.2rem;
}

#search-teachers label {
	color: var(--color-text-primary);
}

#search-teachers .input-block {
	position: relative;
}

#search-teachers .input-block + .input-block {
	margin-top: 1.4rem;
}

#search-teachers .input-block label {
	font-size: 1.4rem;
}

#search-teachers .input-block input {
	background-color: var(--color-input-background);
	border: 1px solid var(--color-line-white);
	border-radius: 0.8rem;
	height: 5.6rem;
	font: 1.6rem Archivo;
	margin-top: 0.8rem;
	outline: 0;
	padding: 0 1.6rem;
	width: 100%;
}

#search-teachers .input-block:focus-within::after {
	background-color: var(--color-primary-light);
	bottom: 0;
	content: "";
	height: 2px;
	left: 1.6rem;
	position: absolute;
	right: 1.6rem;
	width: calc(100% - 3.2rem);
}

#page-teacher-list main {
	margin: 3.2rem auto;
	width: 90%;
}

@media (min-width: 768px) {
	#page-teacher-list {
		max-width: 100%;
	}

	#search-teachers {
		bottom: -28px;
		column-gap: 16px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: absolute;
	}

	#search-teachers .input-block + .input-block {
		margin-top: 0;
	}

	#page-teacher-list main {
		margin: 0 auto;
		max-width: 740px;
		padding: 3.2rem 0;
	}
}